/* CustomerDetails.css */

.customer-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.customer-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.customer-container ul {
  list-style-type: none;
  padding: 0;
}

.customer-container ul li {
  margin-bottom: 10px;
}

.customer-container ul li span {
  font-weight: bold;
  margin-right: 10px;
}

.customer-container ul li::before {
  content: '\2022'; /* Kropka jako punktor przed każdym elementem listy */
  color: #333;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
