/* Stylizacja dla komponentu Home */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f8fa; /* Jasny niebieski tła */
    text-align: center;
}

.link-container {
    margin-bottom: 20px;
}

.link-container a {
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #007BFF; /* Jasnoniebieski kolor przycisków */
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.link-container a:hover {
    background-color: #0056b3; /* Ciemniejszy odcień niebieskiego przy najechaniu myszką */
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF; /* Jasnoniebieski kolor przycisków */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3; /* Ciemniejszy odcień niebieskiego przy najechaniu myszką */
}
